.Survey-intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Survey-intro-header {
  font-size: 5vw;
  font-weight: bold;
  color: #ffffff;
}

.Survey-spinner {
  font-size: 40px;
  width: 100px;
  height: 100px;
}

/* .Survey-intro-button {
  background-color: #7535FE;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border-style: none;
  color: #ffffff;
  font-size: 3vw;
  font-weight: bold;
}

.Survey-intro-button:hover {
  background-color: #CAB8FF;
} */

.Survey-intro-button {
  background-color: #7535ff;
  border-radius: 50%;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 3vw;
  width: 20vw;
  height: 20vw;
  text-align: center;
  transition: all .15s linear;
}

.Survey-intro-button:hover {
  box-shadow: rgba(100, 63, 45, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .Survey-intro-button {
    padding: 0 2.6rem;
  }
}