.Map {
  width: 40vw;
}

.Map-content {
  width: 100%;
  height: 100%;
}

.Map path {
  stroke-linejoin: round;
  stroke: #FFFFFF;
  stroke-width: 2;
  fill: #f1c40f;
}

.Map-busan {
  fill: #f1c40f;
}

.Map-daegu {
  fill: #16a085;
}

.Map-daejeon {
  fill: #f39c12;
}

.Map-gangwon {
  fill: #2ecc71;
}

.Map-gwangju {
  fill: #e67e22;
}

.Map-gyenggi {
  fill: #27ae60;
}

.Map-incheon {
  fill: #d35400;
}

.Map-jeju {
  fill: #3498db;
}

.Map-north-chungcheong {
  fill: #e74c3c;
}

.Map-north-gyengsang {
  fill: #2980b9;
}

.Map-north-jeolla {
  fill: #c0392b;
}

.Map-sejong {
  fill: #9b59b6;
}

.Map-seoul {
  fill: #8e44ad;
}

.Map-south-chungcheong {
  fill: #34495e;
}

.Map-south-gyengsang {
  fill: #2c3e50;
}

.Map-south-jeolla {
  fill: #1abc9c;
}

.Map-ulsan {
  fill: #f1c40f;
}
