.Question {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 1vh;
  align-items: center;
}

.Question-header {
  font-size: 2vw;
  max-width: 80vw;
  font-weight: bold;
}

.Question-img-list {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Question-selected-img {
  /* filter: opacity(0.5) drop-shadow(0 0 0 purple); */
  width: 100%;
  height: 100%;
  border: 10px solid purple;
  border-radius: 2rem;
}

.Question-selected-img:hover {
  cursor: pointer;
}

.Question-img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 2rem;
}

.Question-img:hover {
  cursor: pointer;
}

.Question-img-name {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 0rem 10px;
}

.Question-tooltip {
  position: fixed;
  width: auto;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 5px 10px;
  transform: translate(-50%, -150%);
}

.Question-button-group {
  position: relative;
  width: 80vw;
  display: flex;
  justify-content: center;
  column-gap: 5vw;
}

.Question-button {
  width: auto;
  height: auto;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 2rem;
  border-style: none;
  font-size: 20px;
}

.Question-button:hover {
  cursor: pointer;
}

.Question-button path {
  fill: black;
}

.Question-button:hover path {
  fill: purple;
}