.Rating {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: purple;
  font-size: 21px;
  border-radius: 1rem;
  padding: 0px 10px 7px 10px;
}

.Rating:hover {
  cursor: pointer;
}
