.ResultList {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}



.ResultList-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.ResultMap-content {
  width: 50%;
  height: 100%;
}

.ResultList-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10vh 10vw;
  background: rgba(0, 0, 0, 0.7);
}

.ResultList-carousel .carousel {
  justify-items: center;
  height: 100%;
}

.ResultList-carousel .carousel-inner {
  height: 100%;
  background-color: #747474;
  border-radius: 2rem;
}

.ResultList-carousel .carousel-item {
  height: 100%;
}

.ResultList-carousel .carousel-control-prev {
  width: auto;
}

.ResultList-carousel .carousel-control-next {
  width: auto;
}

.ResultList-img {
  margin: 5%;
  width: 90%;
  height: 80%;
  border-radius: 2rem;
}

.ResultList-img:hover {
  cursor: pointer;
}

.ResultList-textbox {
  position: fixed;
  width: auto;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 5px 10px;
  transform: translate(-50%, -150%);
}

.ResultMap-content path {
  stroke-linejoin: round;
  stroke: #FFFFFF;
  stroke-width: 2;
  fill: #d1aef8;
}

.ResultMap-content-show:hover {
  cursor: pointer;
}

.ResultList-textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  row-gap: 3vh;
}

.ResultList-textContent-header {
  font-size: 3vw;
  font-weight: bold;
}

.ResultList-textContent-cities {
  border: 5px solid #FFFFFF;
  border-radius: 2rem;
  padding: 10px;
  width: 300px;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5px;
  row-gap: 5px;
}

.ResultList-textContent-city {
  width: auto;
  display: inline-block;
  border-radius: 1rem;
  padding: 5px 10px;
  background-color: #FFFFFF;
  font-weight: bold;
}

.ResultList-textContent-city:hover {
  cursor: default;
}

.ResultList-textContent-footer {
  font-size: 20px;
}