.Tourlist {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Tourlist-input {
  position: relative;
  height: 2rem;
}

.Tourlist-input-list {
  width: 100px;
  min-height: 50px;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  top: 2rem;
  border: 1px solid black;
  background-color: white;
}
