.RandomButton {
  box-sizing: border-box;
  padding: 10px 20px;
  width: auto;
  height: auto;
  min-height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 2rem;
  background-color: #BC8CF2;
  color: #FFFFFF;
  font-weight: bold;
  font-size:xx-large
}

.RandomButton:hover {
  background-color: #7535FE;
}