.RandomButton {
  box-sizing: border-box;
  padding: 5px 10px;
  width: auto;
  height: 4vw;
  min-height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 2rem;
  background-color: #BC8CF2;
  color: #FFFFFF;
  font-weight: bold;
}

.RandomButton:hover {
  background-color: #7535FE;
}