.RandomModal {
  position: absolute;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 2rem;
  background-color: #FFFFFF;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  align-items: center;
}

.RandomModal-header {
  font-size: 2.5vw;
  font-weight: bold;
}

.RandomModal-progress {
  position: relative;
  width: 90%;
  height: 20px;
  border-radius: 2rem;
  background-color: white;
  margin-bottom: 20px;
}

.RandomModal-icon {
  position: absolute;
  transform: translate(-10%, -40%);
  width: 15%;
  height: auto;
  z-index: 1;
}

.RandomModal-progress-bg {
  position: absolute;
  height: 20px;
  border-radius: 2rem 0 0 2rem;
  background-color: #7535FE;
  z-index: 0;
}