.RouletteDo-none {
  visibility: hidden;
}

.bhdLno {
  height: 30vw !important;
  width: 30vw !important;
  max-width: 500px !important;
  max-height: 500px !important;
}

.gTLZXx {
  height: 16%;
}
