.CityMap {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.CityMap-text {
  position: absolute;
  width: auto;
  font-weight: bold;
  border: 2px solid black;
  background-color: #FFFFFF;
}

path {
  fill: yellowgreen;
}

g .CityMap-none path {
  fill: bisque;
}

g .CityMap-none:hover path {
  fill: bisque;
  cursor: not-allowed;
}

g g:hover path {
  cursor: pointer;
  fill: rgb(48, 114, 28);
}