.InfoChange{
  background-color: #F8F8F8;  
  box-sizing: border-box;
  width: 90%;
  height: 100vh;
  overflow-y: auto;
}
.InfoPageContainer{
  height: 132px;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  display: flex;
  align-items: flex-end;
  padding: 16px;
}
.ChangeInputForm{
  margin-top: 40px;
}

.InfouserContainer{
  background-color: white;  
  padding: 21px 16px;  
  height: 120px;
  margin-bottom: 10px;
}
.userContainer .userbutton{
  display: flex;
  padding-left: 240px;
}
.InfouserContainer .InfoUserName{
  flex-grow: 1;
  font-size : 20px;
  margin-left: 240px;
}
.InfouserContainer .InfoNickName{
  flex-grow: 1;
  font-size : 18px;
  margin-left: 240px;
  color: #c7c7c7;
}
.InfoProfileChange{
  margin-left: 240px;
  border-style: none;
}
.InfoEmail{
 
    margin-top: 10px;
}
.InfoName{
 
  margin-top: 10px;;
}
.InfoPassword {
 
  margin-top: 10px;
}
.Info-confirm-password {
  
  margin-top: 10px;
}

.InputInfoContainer{
  height: 500px;
  padding: 21px 16px;
  background-color: white;
  margin-bottom: 10px;
}


.InputInfoContainer .InfoContainertitle{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.InputInfoContainer .changeInfoWrap{
 display: flex;
  justify-content: center;
 
}

.InfoEmail input {
  width: 400px;
  height: 40px;
  border-radius: 30px;
 
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
 
}
.InfoName input{
  width: 400px;
  height: 40px;
  border-radius: 30px;
  
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
 
}
.InfoName .InputItem{
  
}
.InfoPassword input{
  width: 400px;
  height: 40px;
  border-radius: 30px;
  
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}
.Info-confirm-password input{

  width: 400px;
  height: 40px;
  border-radius: 30px;

  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}
.InfoChangebtn button{
    
  background: linear-gradient(to left, rgb(117,53,254), rgb(144,93,254));
  width: 400px;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  margin-top: 20px;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.InfoPageProfileBox{
  margin-top: 100px;
  width: 150px;
  height: 150px; 
  border-radius: 70%;
}
.InfoPageProfileBox .InfoProfileImg{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1000px;

 
  transform: translate(50%, 50%);

  border-style: none;

} 

