.Intro {
  background-image: url(./korea-gab8d4235f_1920.jpg);
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  padding: 10vh 10vw;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.Intro-bg-item {
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  width: 40vw;
  height: 60vh;
  background-color: aquamarine;
}

.Intro-text {
  width: 450px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Intro-text-blur {
  border-radius: 5vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.Intro-text-header {
  color: plum;
  font-size: 4vh;
  width: 90%;
  padding: 15px;
}

.Intro-text-content {
  color:white;
  font-size: 2.5vh;
  padding: 15px;
  width: 80%;
}

/* .Intro-button {
  font-weight: bold;
  width: 30%;
  padding: 5px 15px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #A177FA;
  text-align: center;
  border-radius: 2rem;
}

.Intro-button:hover {
  color: #FFFFFF;
  background-color: #7535FE;
} */

.Intro-button {
  width: 16vw;
  min-height: 4vh;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1vh;
  color: #FFFFFF;
  background: #A177FA;
  background: linear-gradient(90deg, #A177FA 0%, #7535FE 100%);
  border-radius: 30px;
  box-shadow: .5vw .5vw 1vw #A177FA;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: 12px;
  }


.Intro-button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #FFFFFF;
  box-shadow: 0 0 60px #7535FE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}


.Intro-button:hover, .Intro-button:focus {
  color: #FFFFFF;
  transform: translateY(-6px);
}

.Intro-image {
  width: 30%;
  height: 50%;
  border: none;
  /* border: 5px solid black;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #FFFFFF; */
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.Intro-image:hover {
  cursor: pointer;
}