.Popular {
  box-sizing: border-box;
  padding: 10vh 10vw;
  height: 100vh;
  position: relative;
}

.Popular-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.Popular-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Popular-bg-item-1 {
  position: absolute;
  z-index: -1;
  top: 5vh;
  left: 0px;
  width: 40vw;
  height: 60vh;
  background-color: aquamarine;
}

.Popular-bg-item-2 {
  position: absolute;
  z-index: -1;
  bottom: 10vh;
  right: 0px;
  width: 40vw;
  height: 60vh;
  background-color: aqua;
}