.Board{
  padding: 5vh 10vw;
  width: 100%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;  
  overflow-y: auto;
}

.BoardWrap h3{
  font-weight: bold;
  text-align: center;
}

.tableHead {
  background: rgba(255,255,255,0.5); 
  color: black;
}

.board-table tbody tr:hover {
  background-color: rgba(255,255,255,0.6);
}

.tablebody{
  border-bottom: .1vw solid rgb(144,93,254);
  cursor: pointer;
}

.board-table th {
  text-align: center;
}
.board-table .th-num {
  width: 5vw;
}

.board-table .th-title {
  width: 20vw;
}

.board-table .th-date {
  width: 10vw;
}

.board-table .th-user {
  width: 10vw;
}
.board-table th, .board-table td {
  padding: 14px 0;
}
.board-table tbody td {
  text-align: center;
}

.pageItems{
  list-style: none;
  display: flex;
  margin: 1vw;
}

.pageItems li{
  margin:  0 .1vw;
}

.writeButton{
  display: block;
  padding: .2em 1em;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 2px;
  color: white;
  background: linear-gradient(to left, rgb(117,53,254), rgb(144,93,254));
  transition: 0.2s ease-in;
}

.pageItems li button{
  display: block;
  padding: .2em 1em;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in;
}

.PrevButton{
  background: linear-gradient(to left, rgb(117,53,254), rgb(144,93,254));
}

.NextButton{
  background: linear-gradient(to left, rgb(117,53,254), rgb(144,93,254));
}

.ItemButton{
  background: linear-gradient(to left, rgb(144,93,254), rgb(117,53,254)) !important;
}

.writeButton:hover{
  box-shadow: 3px 3px rgba(0,0,0,0.25);
}

.PrevButton:hover{
  box-shadow: 3px 3px rgba(0,0,0,0.25);
}

.ItemButton:hover{
  box-shadow: 3px 3px rgba(0,0,0,0.25);
}

.NextButton:hover{
  box-shadow: 3px 3px rgba(0,0,0,0.25); 
}