/* .card-img-top{
  width: 500px;
  height: 300px;
}
.card{
  width: 600px;
  float: left;
  
}
.reviewButton{
  float: right;
}
.tablediv{
  float: right;
} */
.LocalContainer{
  display: grid;
  box-sizing: border-box;
  width: 90%;
  height: 100vh;
  overflow-y: auto;
}

.DetailContent{
   padding: 50px; 
}

.LocalInfoBox{
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.LocalInfoBox2{

 
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.LocalWrap{
  justify-content: start;
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.LocalTitle{

  font-size: 20px;
  font-weight: 700;
}
.LocalInfo{
  padding-left: 20px;
  width: 500px;
  margin: 30px;
}
.DetailContent .localImage{
  width: 200px;
  height: 200px;
  margin: 30px 10px 10px 10px;
  object-fit: cover;
  border-radius: 10px;

}
.DetailContent .LocalLogoImg{
  width: 50px;
  height: 50px;
  padding-bottom: 20px;
  object-fit: contain;
}
.spaceArea{
  height: 30px;
}
.RatingArea{
  display: flex;
}
.MyRatingTitle{
  box-shadow : 5px 5px 10px -5px;
  background-color: rgb(117,53,254);
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 60px;
 
  margin-right: 20px;
}
.MyRatingTitle2{
  box-shadow : 5px 5px 10px -5px;
  background-color: rgb(217, 205, 251);
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  color: white;
  margin-right: 30px;
  border:none;
}
.RatingTitle{
  background-color: rgb(117,53,254);
  box-shadow : 5px 5px 10px -5px;
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 60px;
 
  margin: auto 10px 20px auto;


}
.RatingTitle2{
  background-color: rgb(117,53,254);
  box-shadow : 5px 5px 10px -5px;
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  margin-right: 30px;
 
}

 .avg{
  color: rgb(255, 255, 255);
  font-size: 13px;
}
.visitedMedal{
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
.reviewButton{
  width: 150px;
  margin: auto 20px 10px auto;
  background: linear-gradient(to left, rgb(117,53,254), rgb(144,93,254));
  color: white;
  border-radius: 10px ;
  border: none;
}
.MyRatingTitle2:hover{
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2);
}
.reviewButton:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2);
}
.IntoReview{
  display: flex;
}
.LocalAttraction{
  font-size: 23px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}
.LocalTableItems{
  text-align: center;

}
.TableContainer{
  padding: 20px;
}
