.post-del-btn{

  float: right;
  margin: 3cm;
}

.comment{

  height: 400px;
  width: 85%;
  
  margin: 30%;
}

.comment-del-btn{

  size: 1em;
  text-align: center;
  font-size: 10px;
  width: 50px;
}

.post{
  /* border-style: solid;
  border-radius: 3px;
  border-color: aquamarine; */
  margin: 30px;
  padding: 10px;
  margin-left: 50px;
  overflow-y: auto;
  width: 95%;
}

#button-addon2{
  margin-left: 10px;
}

.comment-btn{
  background-color: aquamarine;
}

.list-btn{
  background-color: purple;
  color: rgb(255, 255, 255);
}

.comment-table{
  height: 100px;

}

.comment-content{
  width: 60%;
}

.post th{
  background-color: aquamarine;
  color: black;
  text-align: center;
}

#menu{
  float: right;
}

a:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}