

#map {
  width:600px;
  height:400px;
  float:left; 
  border-radius: 10px;
}

.travel-img {
  width:600px;
  height:400px;
  float:left;
  margin-right:10px;
  border-radius: 10px;
}

.TravelDetail {
  margin: 10px;
  overflow-y:auto;
  height:100%;
}

#row {
  width:1400px;
}

.container {
  width:1212px;

  margin-top:10px;
  margin-left:0px;
  padding: 0px;
}

#button {
  margin-top:0px;
}


.travel-table-container {
  border-radius: 10px;
  background-color: azure;
  padding: 10px;
  margin: 10px;
}
.travel-info-table th{
  background-color: aquamarine;
  
}
.travel-info-table td{
  background-color: white;
}