@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.App {
  display: flex;
  font-family: 'Nanum Gothic', sans-serif;
  width: 100vw;
  height: 100vh;
  
  background-image: url('../public/img/road.gif');
  background-size: cover;
  padding:0;
  margin:0;

}