@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.App {
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100vw;
  height: 100vh;
  
  background-image: url('../public/img/gradient.gif');
  background-size: cover;
  padding:0;
  margin:0;

}