.Random {
  box-sizing: border-box;
  width: 90%;
  padding: 7vh 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
  align-items: center;
  overflow: hidden;
}

.Random-result {
  height: 70px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #BC8CF2;
  border-radius: 2rem;
  padding: 0 10px;
  border-style: none;
}

.Random-result:hover {
  background-color: #7535FE;
}

.Random-header {
  font-size: 2rem;
  font-weight: bold;
}

.Random-content {
  display: flex;
  position: relative;
}

.Random-change {
  position: absolute;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 2rem;
  background-color: grey;
  z-index: 10;
}