.Random {
  box-sizing: border-box;
  padding: 10vh 10vw;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.Random-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.Random-content {
  display: flex;
}